@model IEnumerable<MessageHub.Models.Message>
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var message in Model)
    {
        <li>@message.Venue @message.DateTime - @message.Artist.Name</li>
    }
</ul>